/* Selector vor der Klammer, alles: CSS-Element */
* {
  box-sizing: border-box;
}
/* Variable global*/
:root {
  --primary: rgba(109, 129, 76, 0.664);
  --black: rgb(43, 41, 41);
}

body {
  background-color: var(--primary);
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  padding: 10px;
  margin: 0;
  width: 100vw;
}

nav {
  margin: 20px 0;
}

img {
  height: auto;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
}

.navi-buttons {
  background-color: var(--black);
  color: white;
  margin-bottom: 100px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.columns {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.cv {
  text-align: left;
}

.extra-margin {
  margin-left: 20px;
}

.social-media {
  width: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.biographie-text {
  text-align: justify;
}

.links-kontakt {
  color: var(--black);
}
