/* Selector vor der Klammer, alles: CSS-Element */

@import 'styles/_base.css';
@import 'styles/_variables.css';
@import 'styles/components/header.css';
@import 'styles/components/navi.css';
@import 'styles/_utility.css';
@import 'styles/components/list.css';

.border-top {
  border-top: 1px solid var(--content-color);
}

.border-bottom {
  border-bottom: 1px solid var(--content-color);
}

.cv {
  text-align: left;
}

.social-media {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.img-logos {
  height: 55px;
  width: 55px;
}

.biographie-text {
  text-align: justify;
}

.contact-links {
  border-bottom: 1px solid;
  color: var(--black);
  font-style: normal;
  margin-left: 10px;
  text-decoration: none;
  color: var(--content-text-color);
}

.cv-dates {
  font-size: 12px;
}

.cv-content {
  margin: 0;
}

.contact-flex {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-wrap: wrap;
}

.contact-icons {
  width: 30px;
}

.content-color {
  background-color: var(--content-color);
  padding: 10px;
  color: var(--content-text-color);
}

.content-headline {
  margin-top: 0;
}

.impressum {
  font-size: 14px;
  margin: 20px 0 0;
}

.copyright {
  font-size: 12px;
}

.back-top {
  width: 30px;
  height: 30px;
}

.arrow-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
