/* Selector vor der Klammer, alles: CSS-Element */
* {
  box-sizing: border-box;
}
/* Variable global*/
:root {
  --primary: rgba(109, 129, 76, 0.664);
  --black: #2b2929;
  --content-color: rgb(58, 56, 56);
  --content-text-color: rgba(253, 253, 252, 0.664);
  width: 100vw;
  padding: 20px;
  margin: auto;
}

header {
  background-color: var(--content-color);
  color: var(--content-text-color);
  padding: 15px;
}

body {
  background-color: var(--primary);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  margin: 0;
}

nav {
  margin: 20px 0;
}

img {
  height: auto;
  width: 100%;
}

figcaption {
  font-size: 14px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  font-size: 18px;
}

.standard-margin {
  margin-bottom: 20px;
}

.navi-buttons {
  background-color: var(--primary);
  color: var(--content-text-color);
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.columns {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.border-top {
  border-top: 1px solid var(--content-color);
}

.border-bottom {
  border-bottom: 1px solid var(--content-color);
}

.cv {
  text-align: left;
}

.flex-margin {
  margin-left: 40px;
}

.social-media {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.img-logos {
  height: 55px;
  width: 55px;
}

.biographie-text {
  text-align: justify;
}

.contact-links {
  border-bottom: 1px solid;
  color: var(--black);
  font-style: normal;
  margin-left: 10px;
  text-decoration: none;
  color: var(--content-text-color);
}

.cv-dates {
  font-size: 12px;
}

.cv-content {
  margin: 0;
}

.contact-flex {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-wrap: wrap;
}

.contact-icons {
  width: 30px;
}

.content-color {
  background-color: var(--content-color);
  padding: 10px;
  color: var(--content-text-color);
}

.content-headline {
  margin-top: 0;
}

.impressum {
  font-size: 14px;
  margin: 20px 0 0;
}

.copyright {
  font-size: 12px;
}

.back-top {
  width: 30px;
  height: 30px;
}

.arrow-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
