.img-fluid {
  height: auto;
  width: 100%;
}

figcaption {
  font-size: 14px;
  margin-bottom: 20px;
}

.h1-50 {
  margin-bottom: 50px;
}

.h2-18 {
  font-size: 18px;
}
/* -1 */

.m-20 {
  margin-bottom: 20px;
}
