:root {
  --primary: rgba(109, 129, 76, 0.664);
  --black: #2b2929;
  --content-color: rgb(58, 56, 56);
  --content-text-color: rgba(253, 253, 252, 0.664);
  width: 100vw;
  padding: 20px;
  margin: auto;
}
